<article class="article">
  <div class="article-header">
    <h1 class="article-title">
      <a href="<%= url_for(post.path) %>"><%= post.title %></a>
    </h1>
    <div class="article-meta">
      <span class="article-date"><%= date(post.date, 'YYYY-MM-DD') %></span>
    </div>
  </div>
  <div class="article-content">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <div class="article-more-link">
        <a href="<%- url_for(post.path) %>">阅读全文</a>
      </div>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
</article>