<div class="sidebar-container">
  <div class="sidebar-widget">
    <h3><i class="icon-clock"></i> 最新文章</h3>
    <% if (site.posts.length) { %>
      <ul class="recent-post-list">
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li class="recent-post-item">
            <a href="<%= url_for(post.path) %>"><%= post.title || '(无标题)' %></a>
            <span class="post-date"><%= date(post.date, 'MM-DD') %></span>
          </li>
        <% }) %>
      </ul>
    <% } %>
  </div>

  <div class="sidebar-widget">
    <h3><i class="icon-folder"></i> 分类</h3>
    <% if (site.categories.length) { %>
      <ul class="category-list">
        <% site.categories.map(function(category){ %>
          <li class="category-list-item">
            <a href="<%= url_for(category.path) %>"><%= category.name %></a>
            <% if(theme.show_count){ %>
              <span class="category-count">(<%= category.posts.length %>)</span>
            <% } %>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>暂无分类</p>
    <% } %>
  </div>

  <div class="sidebar-widget">
    <h3><i class="icon-tag"></i> 标签</h3>
    <% if (site.tags.length) { %>
      <div class="tag-list">
        <% site.tags.map(function(tag){ %>
          <a href="<%= url_for(tag.path) %>" class="tag-list-item">
            <%= tag.name %>
            <% if(theme.show_count){ %>
              <span class="tag-count">(<%= tag.posts.length %>)</span>
            <% } %>
          </a>
        <% }) %>
      </div>
    <% } else { %>
      <p>暂无标签</p>
    <% } %>
  </div>
</div>